
<div class="movies-grid">
  <% @movies.each do |movie| %>
    <div class="movie-card">
      <img src="<%= movie.image_url %>" alt="<%= movie.name %>">
      <h2><%= movie.name %></h2>
    </div>
  <% end %>
</div>