/* 日本語フォントの例 */
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

/* 特定の要素にのみ適用する例 */
h1 {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500px; /* 太字 */
    font-size: 24px;
}

/* クラスで適用する例 */
.movie.name {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
}

/* ヘッダー */
header {
    margin: 20px;
    border-bottom: 1rem;
}

/* サイドバー */
ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #111111;
    margin-top: 10px;
}
